<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head')%>
<body>
  <%- include('./partial/header')%>
    <h1>Productos de mascotas</h1>
    <table>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripci칩n</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td><img src="/img/proplan-perro-adulto.png" alt="Perro"></td>
        <td>Perro Labrador Retriever</td>
        <td>Un perro amigable y leal, ideal para familias con ni침os.</td>
        <td>$500</td>
      </tr>
      <tr>
        <td><img src="/img/proplan-esterilizado.png" alt="Gato"></td>
        <td>Gato Siames</td>
        <td>Un gato cari침oso y juguet칩n, con un pelaje espectacular.</td>
        <td>$300</td>
      </tr>
    </table>
    <%- include('./partial/footer')%>
  </body>
</html>