<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Adopta una mascota</title>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <form>
        <input type="text" placeholder="Buscar">
        <button type="submit">Buscar</button>
      </form>
      <img src="logo.png" alt="Logo de la tienda">
    </header>
    <h1>Productos de mascotas</h1>
    <table>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td><img src="perro1.jpg" alt="Perro"></td>
        <td>Perro Labrador Retriever</td>
        <td>Un perro amigable y leal, ideal para familias con niños.</td>
        <td>$500</td>
      </tr>
      <tr>
        <td><img src="gato1.jpg" alt="Gato"></td>
        <td>Gato Siames</td>
        <td>Un gato cariñoso y juguetón, con un pelaje espectacular.</td>
        <td>$300</td>
      </tr>
    </table>
    <footer>
      <a href="#"><img src="icon-facebook.png" alt="Facebook"></a>
      <a href="#"><img src="icon-twitter.png" alt="Twitter"></a>
      <a href="#"><img src="icon-instagram.png" alt="Instagram"></a>
    </footer>
  </body>
</html>