<header>
    <nav>
      <ul>
        <li><a href="./">Inicio</a></li>
        <li><a href="./detalle">Productos</a></li>
        <li><a href="./register">Contacto</a></li>
      </ul>
    </nav>
    <form>
      <input type="text" placeholder="Buscar">
      <button type="submit">Buscar</button>
    </form>
    <img src="../img/LAIKA.png" width="70" alt="Logo de la tienda">
  </header>